h5{
    font-size: 50px;
    color: burlywood;
    font-weight: 400;
}
h6{
    font-size: 50px;
    color: burlywood;
    font-weight: 400;
}

.para{
    color: blueviolet;
}
.fs{
    font-size: 60px;
}
.fs1{
    font-size: 80px;
}
#abc{
    color: brown;
    font-size: 50px;
}

.t_uppercase{
    text-transform: uppercase;

}
.t_captilize{
    text-transform: capitalize;
}
.t_lowercase{
    text-transform: lowercase;
}
.t_align_right{
    text-align: right;
}
.t_align_center{
    text-align: center;
}
.t_indent{
    text-indent: 50px !important;
    line-height: 30px;
}
.t_letter_spacing{
    letter-spacing: 5px;
}
.t_word_spacing{
    word-spacing: 5px;
}
.t_decor{
    text-decoration: underline line-through overline;
}
.t_shadow{
    text-align: center;
    font-size: 100px;
    color: rgb(32, 31, 31);
    text-shadow: 10px 8px 5px rgb(99, 72, 72);
}
.t_shadow1{
    text-align: center;
    font-size: 100px;
    color: rgb(129, 129, 236);
    text-shadow: 10px 9px 7px rgb(63, 62, 62);

}
.b_shadow{
    width: 500px;
    height: 700px;
    box-shadow: 8px 4px 2px rgb(241, 131, 131);
   float: right;
}
.d_shadow{
    width: 500px;
    height: 600px;
    filter: drop-shadow(20px 10px 10px rgb(58, 58, 58));
    text-align: center;
}
.box_model{
    border: 20px solid gray;
    padding: 40px 60px 40px 60px;
    margin: 150px 140px 150px 140px;
    word-spacing: 10px;
    letter-spacing: 3px;
    line-height: 20px;    
}
.img{
    
    /* padding: 40px 60px 40px 60px;
    margin: 150px 140px 150px 140px; */
    width: 200px;
    height: 180px;
    background-image: url(/image/india.jpg);

}
.b_properties{
    /* solid,dashed,dotted,double,inset,outset */
    border: 10px  double  gray ;
    margin: 100px;
    padding: 40px;
    word-spacing: 10px;
    letter-spacing: 3px;
    text-indent: 50px;
    text-align: justify;
   
}
.b_img{
    border: 10px outset  rgb(95, 209, 241) ;
    width: 400px;
    height: 300px;
    border-radius: 20px 10px 20px 10px;
    
    
    
}
.box{
    height: 200px;
    width: 200px;
    border: 10px blueviolet;
    background-color: rgb(236, 151, 151);
}
.box1{
    position: static;

}
.box2{
    position: relative;
    left: 300px;
    top: 40px;
}
.box3{
    position: absolute;
    left: 300px;
    top: 40px;
}
.box4{
    position: sticky;
    left: 300px;
    top: 40px;
}
.box5{
    position: fixed;
    left: 300px;
    bottom: 40px;
}
.hall{
    position: relative;
    height: 500px;
    width: 500px;
    background-color: rgb(75, 70, 70);
}
.tv{
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: rgb(177, 112, 238);
    left: 190px;
}
.sofa{
    position: absolute;
    height: 50px;
    width: 250px;
    background-image: url(/image/india.jpg);
    top: 200px;
    left: 120px;
    
}
.fridge{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: brown;
    left: 450px;
    top: 450px;
}
/* .bg_img{
    /* background-image: url(/image/india.jpg); */
    /* background-image: url(/image/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
   
/* } */ 
.h_color{
    color: aliceblue;
    text-shadow: 10px 8px 5px crimson;
    text-align: center;
    letter-spacing: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.linear_grad{
    background-color: aqua;
    height: 300px;
    margin-bottom: 60px;
    background-image: linear-gradient( orange,white,green);
}
.linear_grad2{
    background-color: aqua;
    height: 300px;

    background-image: linear-gradient(orange,white,green);
}
.radial_grad{
    background-color: aqua;
    height: 1000px;
    width: 100%;
    background-image: radial-gradient(circle red white)
}
.conic_grad{
    background-color: aqua;
    height: 1000px;
    width: 100%;
    background-image: conic-gradient(red,blueviolet,white,green);
}
.flex_container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-item{
    background-color: blueviolet;
    margin: 10px;
    height: 350px;
    width: 350px;
    color: white;
    font-size: 40px;
}
h1:hover{
    color: blue;
    background-color: blueviolet;
    font-size: 80px;
}
h2:active{
    color: blue;
    background-color: blueviolet;
    font-size: 80px;
}
input:focus{
    background-color: blueviolet;
    color: brown;
    font-size: 80px;


}
a:visited{
    color: brown;
}